:root {
    --cor-fundo-paginas: #f5f6fa;
    --cor-fundo-menu: #005057;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: var(--cor-fundo-paginas);
}
.titulo-secao {
    text-transform: uppercase;
    color: var(--cor-fundo-menu);
}
label {
    text-transform: uppercase;
}
@media only screen and (max-width: 470px) {
    .titulo-secao {
        text-align: center;
    }
}